.container {
    .news {
        border: 1px solid lightgrey;
        border-radius: 3px;
        .img-container {
            img {
                max-width: 300px;
                max-height: 200px;
            }
        }
        .content-container {
            a.title {
                display: block;
                cursor: pointer;
            }
        }
    }
}